{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Try Django{% endblock head_title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    {% block head_extra %} {% endblock head_extra %}
</head>
    <body>

    {% include "messages_display.html" %}


    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    <div id="fb-root"></div>

    
    <script   src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            // $(".content-markdown").each(function(){
            //     currentBlock = $(this);
            //     var postContent = currentBlock.text();
            //     var markedContent = marked(postContent);
            //     currentBlock.html(markedContent);                
            // });
            $(".post-detail-item img").each(function(){
                currentImg = $(this);
                currentImg.addClass("img-responsive");                
            });

            var titleInput = $("#id_title");
            var contentInput = $("#id_content");

            setTitle(titleInput.val())
            setContent(contentInput.val())

            titleInput.keyup(function(){
                setTitle(titleInput.val())
            });


            function setTitle(value) {
                $("#preview-title").text(value);
            }

            function setContent(value){
                var markedContent = marked(value);
                $("#preview-content").html(markedContent);
                $("#preview-content img").each(function(){
                    $(this).addClass("img-responsive");
                })
            }

            contentInput.keyup(function() {
                setContent(contentInput.val());
            });

            // setContent(contentInput.val());


        });
    </script>
    </body>
</html>