{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ post.title }} | {{ block.super }}
{% endblock head_title %}

{% block post_detail_link %}
    <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
{% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3 ">
    
    <h1>{{ post.title }} <small>{% if post.draft %}<span style="color:red">Draft</span>{% endif %}{{ post.publish }}</small></h1>
    <p>Expected reading time: {% if post.read_time|time:"i" <= "01" %} < 1 minute {% else %} {{ post.read_time | time:"i"}} min {% endif %}</p>
    {% if  post.user.get_full_name %}
        <p>Author: {{ post.user.get_full_name }}</p>
        <span><a href="{{ request.build_absolute_uri }}edit">Edit</a></span>
    {% endif %}
    <div class="post-content">
<div class="post-text post-detail-item">
    {{ post.get_markdown }}
</div>
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="" class="img-responsive">
        {% endif %}
        <span>{{ post.updated }}</span>

        <div>
            <p class="lead">Comments</p>
                <hr>
                {% if request.user.is_authenticated %}
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ comment_form |crispy }}
                    <input type="submit" value="Send comment" class="btn btn-default">
                </form>
                {% else %}
                    <p class="not-logged-in-comment-msg">You must be logged in to comment</p>
                {% endif %}
                {% for comment in comments %}
                    <blockquote class="post-detail__comment-content">
                        <p>{{ comment.content }} </p>
                        <footer>via {{ comment.user }} {{ comment.timestamp | timesince }} ago | {% if comment.children.count > 0 %} Comment{% if comment.children.count > 1 %}s{% endif %} {{ comment.children.count }} | {% endif %}
                            <a class="comment-reply-btn" href="#">Reply</a> | 
                            <a href="{{ comment.get_absolute_url }}">Thread</a>
                            {% if request.user == comment.user %}
                                <a href="{{ comment.get_delete_url }}">Remove</a>
                            {% endif %}
                        </footer>
                        <div class="comment-replies">
                       {% for child_comment in comment.children %}
                            <blockquote>
                                <p>{{ child_comment.content }} </p>
                                <footer>via {{ child_comment.user }} {{ child_comment.timestamp | timesince }} ago
                                    {% if request.user == comment.user %}
                                        <a href="{{ comment.get_delete_url }}">Remove</a>
                                    {% endif %}
                                </footer>
                            </blockquote>                
                        {% endfor %}                            
                        </div>

                {% if request.user.is_authenticated %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ comment_form |crispy }}
                        <input type="hidden" name="parent_id" value='{{ comment.id }}'>
                        <input type="submit" value="Reply" class="btn btn-default">
                    </form>
                {% else %}
                    <p class="not-logged-in-comment-msg">You must be logged in to comment</p>
                {% endif %}
                    </blockquote>
                {% endfor %}
        </div>

    </div>   

    <p>
       <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
    </p>


<!-- {% include "facebook_sdk.html" %} -->

{% endblock content %}