<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post details</title>
</head>
<body>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

    <h3>{{ post.title }}</h3>
    <div class="post-content">
        <h4>{{ post.content }}</h4>
        <span>{{ post.timestamp }}</span>
        <span>{{ post.updated }}</span>
    </div>    
</body>
</html>

