{% extends "base.html" %}
{% load urlify %}

{% block head_title %}

    {{ post.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    
    <h1>{{ post.title }} <small>{{ post.timestamp }}</small></h1>
    {% if  post.user.get_full_name %}
        <p>Author: {{ post.user.get_full_name }}</p>
    {% endif %}
    <div class="post-content">
        <h4>{{ post.content | linebreaks }}</h4><br>
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="" class="img-responsive">
        {% endif %}
        <span>{{ post.updated }}</span>
    </div>   
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
       Facebook
    </a>
    <a href="https://twitter.com/home?status={{ post.content | urlify }}{{ request.build_absolute_uri }}">
       Twitter
    </a>    


    <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>GooglePlus </a>

</div>


{% endblock content %}